#person_list {
	width: 15%;
	float: left;
}

#people_list {
	margin-left: 1%;
}

#groups_list {
	margin-left: 1%;
}

#person-view {
	float: right;
	min-width: 85%;
}

#group-list {
	width: 20%;
}

.bs-example{
	margin: 20px;
}

#group_view {
	width: 110%;
}

.message {
	width: 40%;
	margin-left: 1%;
}

#placeholder { 
	width: 100%; 
	height: 250px; 
}

.lisa_kommentaar {
	float: right;
}

.kommentaarid {
	height: 55px;
}

.kommentaarid p {
	font-size: 25px;
	color: gray;
}

.profile-heading {
	font-size: 25px;
	color: gray;
	text-transform: uppercase;
}

.xaxis_label {
	text-align: center;
}

.comment-date {
	font: 
	font-style: italic;
}

.legendColorBox {
	padding: 5px;
}

.legendLabel {
	padding: 5px;
}

.flot-base {
	width: 100% !important;
}