.firstpage {
	text-align: center;
}
#person_list {
	width: 15%;
	float: left;
}

#people_list {
	margin-left: 1%;
}

#groups_list {
	margin-left: 1%;
}

#person-view {
	float: right;
	min-width: 85%;
}

#group-list {
	width: 20%;
}

.bs-example{
	margin: 20px;
}

#group_view {
	width: 100%;
}

.message {
	width: 40%;
	margin-left: 1%;
}

.graafik { 
	width: 100%; 
	height: 250px; 
}

.lisa_kommentaar {
	float: right;
}

.kommentaarid {
	height: 55px;
}

.kommentaarid p {
	font-size: 25px;
	color: gray;
}

.profile-heading {
	font-size: 25px;
	color: gray;
	text-transform: uppercase;
}

.xaxis-label {
	text-align: center;
}

.comment-date {
	font: 
	font-style: italic;
}

.legendColorBox {
	padding: 5px;
}

.legendLabel {
	padding: 5px;
}

.flot-base {
	width: 100% !important;
}
img {
	width: 65%;
}

#updateGraphs {
	margin: 5px;
}

#searchGroupsAndPeople {
	margin: 0px;
}

.col-md-3 {
	text-align: ;
}

#listText {
	color: #428BCA;
}

#backToTopBtn {
	position: fixed;
	bottom: 0;
	margin-bottom: 5px;
}

.jumbotron {
	text-align: center;
}

.demo-placeholder {
	float: left; 
	width: 600px; 
	height: 300px;
}
#moodchoices {
	float: right;
	width: 11%;
}